<!--
This file is part of MyConference.

MyConference is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License version 3
as published by the Free Software Foundation.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should find a copy of the GNU Affero General Public License in the
root directory along with this program.
If not, see http://www.gnu.org/licenses/agpl-3.0.html.
-->
<ion-view>
  <ion-nav-title>{{event.title}}</ion-nav-title>
  <ion-content>
    <ion-list class="bar-stable">
      <ion-item class="item item-icon-left"><i class="icon ion-clock"></i>: {{(event.date | date: 'dd MMM yyyy') || "t.b.a"}} </ion-item>
      <ion-item class="item item-icon-left"> <i class="icon ion-map"></i>: {{event.location || "t.b.a"}}</ion-item>
      <ion-item class="item item-icon-left"><i class="icon ion-ios-list-outline"></i> : AGENDA</ion-item>
      <!-- check logged in later: ng-show="isLoggedIn" -->
    </ion-list>
    <!-- Agenda List -->
    <!-- Form to add agenda -->
    <div>
    <form ng-submit="addingAgenda(ag)" ng-show="addingAgendaForm">
      <div class="list">
        <div class="item item-divider" align="center">New Agenda Information</div>
      </div>
      <label class="item item-input">
        <input type="text" placeholder="Begin" ng-model="ag.begin" required>
      </label>
    <label class="item item-input">
      <input type="text" placeholder="End" ng-model="ag.end" required>
    </label>
    <label class="item item-input">
      <input type="text" placeholder="Speaker" ng-model="ag.speaker" required>
    </label>
    <label class="item item-input">
      <textarea rows="3" placeholder="Topic" ng-model="ag.topic" required></textarea>
    </label>
        <p ng-model="ag.eventID" ng-init="ag.eventID='defaultValue'"></p>
    <div class="button-bar">

      <button type="submit" class="button button-block button-balanced">Submit</button>
      <button type="reset" class="button button-block button-stable">Cancel</button>
    </div>
    </form>
<!-- button to show add new agenda -->
    <button class="button button-block button-positive" ng-click="showAddingAgenda()">Add New Agenda</button>
<!-- button to show add new agenda -->
      {{event.descr}}
    </div>
  </ion-content>
</ion-view>
