<!--
This file is part of MyConference.

MyConference is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License version 3
as published by the Free Software Foundation.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should find a copy of the GNU Affero General Public License in the
root directory along with this program.
If not, see http://www.gnu.org/licenses/agpl-3.0.html.
-->

<ion-view view-title="Overview">
  <ion-nav-bar class="bar-stable">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
      </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
      <a href="#/app/new_event" class="button icon ion-android-add-circle  button-stable" menu-toggle="right"></a>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-list>
    <br><br>
    <ion-item class="item item-divider icon ion-chevron-right"> UPCOMING</ion-item>
    <ion-item ng-repeat="ev in events | filter: previousEvents"><a href="#app/event/{{ev.id}}">{{ev.title}} {{(ev.date | date:'dd/MM/yy')}}</a>
    </ion-item>

    <ion-item class="item item-divider icon ion-chevron-right"> PREVIOUS</ion-item>
    <ion-item ng-repeat="ev in events | filter: nextEvents"><a href="#app/event/{{ev.id}}">{{ev.title}} {{(ev.date | date:'dd/MM/yy')}}</a>
    </ion-item>


  </ion-list>
</ion-view>
